<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swift Auto Caller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .button-form {
        }
      
        input[type=range] {
        width: 100%;
         }

    </style>
    <script>
        function deleteRow(row_index) {
            document.getElementById("delete_row_form").action = "/delete_row/" + row_index;
            document.getElementById("delete_row_form").submit();
        }

        function updateCurrentlyPlaying() {
            fetch('/get_currently_playing')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('currently_playing').textContent = data.currently_playing;
                    if (data.duration) {
                        document.getElementById('currently_playing_duration').textContent = data.duration;
                    } else {
                        document.getElementById('currently_playing_duration').textContent = '';
                    }
                });
        }

        function updateVolume(volume) {
            document.getElementById('volume-value').innerText = volume + '%';
            fetch('/set_volume', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({volume: volume})
            });
        }

        //document.getElementById('volume-value').innerText = document.getElementById('volume').value + '%';

        // Call the updateCurrentlyPlaying function every 2 seconds (2000 milliseconds)
        setInterval(updateCurrentlyPlaying, 2000);
    </script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Swiftomatic 3000 Playback Schedule</h1>
        
        <form action="/update_schedule" method="POST">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Daily Start Time</th>
                        <th scope="col">Daily End Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for start_time, end_time in playback_schedule %}
                    <tr>
                        <td><input type="text" class="form-control" name="start_time_{{ loop.index0 }}" value="{{ start_time }}"></td>
                        <td><input type="text" class="form-control" name="end_time_{{ loop.index0 }}" value="{{ end_time }}"></td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="deleteRow({{ loop.index0 }})">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Update Schedule</button>
        </form>
        <form id="delete_row_form" method="POST" style="display: none;"></form>

        <div class="my-3">
            <form action="/add_row" method="POST" class="button-form" style="display: inline;">
                <button type="submit" class="btn btn-success">Add Schedule Row</button>
            </form>
        </div>

        <div class="row">
            <div class="col-sm">
                <form action="/start_playback" method="POST" class="button-form">
                    <button type="submit" class="btn btn-primary">Start Playback</button>
                </form>
            </div>
            <div class="col-sm">
                <form action="/stop_playback" method="POST" class="button-form">
                    <button type="submit" class="btn btn-secondary">Stop Playback</button>
                </form>
            </div>
            <div class="col-sm">
                <a href="/upload" class="btn btn-info">Manage mp3 audio files</a>
            </div>
        </div>

        <h2 class="my-4">Current Schedule</h2>
        <p>Daily Start Time: {{ current_schedule.start_time }}</p>
        <p>Daily End Time: {{ current_schedule.end_time }}</p>
        
        <h2 class="my-4">Next Schedule</h2>
        <p>Daily Start Time: {{ next_schedule.start_time }}{% if next_schedule.tomorrow %} (tomorrow){% endif %}</p>
        <p>Daily End Time: {{ next_schedule.end_time }}{% if next_schedule.tomorrow %} (tomorrow){% endif %}</p>
        
        
        <h2>Currently Playing MP3</h2>
        <p id="currently_playing">{{ currently_playing }}</p>
        <p>Duration: <span id="currently_playing_duration">{{ duration }}</span></p>
        
        <label for="volume">Volume: <span id="volume-value">50%</span></label>
        <input type="range" id="volume" name="volume" min="0" max="100" value="50" oninput="updateVolume(this.value);">


    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script>
        window.onload = async function() {
            const response = await fetch('/get_saved_volume');
            const data = await response.json();
            const volumeSlider = document.getElementById('volume');
            volumeSlider.value = data.volume;
            document.getElementById('volume-value').innerText = document.getElementById('volume').value + '%';

            // Trigger the updateCurrentlyPlaying function on page load
            updateCurrentlyPlaying();
        }


    </script>
    
</body>
</html>
